* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	height: 100vh;
	max-width: 900px;
	grid-template-columns: 250px 250px 250px;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-rows: 400px 400px 400px;
	gap: 70px;
	font-family: Arial, Helvetica, sans-serif;	
}
.baslik {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;
	padding: 30px;
	gap: 10rem;
}

.foto {
	margin-left: 10px;
	position: relative;
	
}

.foto img {
	display: block;
	max-width: 100%;
	border-radius: 10px;
	box-shadow:0 0 1rem black;
	
}

.foto2 {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;    
}

.foto2 img {
    margin-top: 50px;
}
.foto2 span {
	display: inline-block;
	top: 55px;
}
.foto5 {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}

.foto5 img {
    margin-top: 50px;
}
.foto5 span {
	top: 55px;
}
.container p {
    padding: 1rem;
}

span {
	writing-mode:vertical-rl;
	font-size: xx-small;
	position: absolute;
	top: 3px;
	right: -15px;
	padding-bottom: 20px;
	display: inline;
	width: 10px;
	height: 200px;	
}

@media screen and (max-width:750px) {
    .container {
		grid-template-columns: 250px 250px;
	}
}
